<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Etiquetas | {{ empresa }}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body class="pagina-etiquetas">

    <header class="topo-impressao">

        <div>
            <h1>Etiquetas geradas</h1>
            <p>{{ empresa }}</p>
        </div>

        <div class="acoes-impressao">

            <button
                type="button"
                class="botao-imprimir-pagina"
                onclick="window.print()"
            >
                Imprimir
            </button>

            <a
                href="{{ url_for('dashboard') }}"
                class="botao-voltar"
            >
                Voltar
            </a>

        </div>

    </header>

    <main class="area-etiquetas">

      {% for numero in range(quantidade) %}

    <div class="linha-etiquetas">

        <section class="etiqueta-50x25">

            <div class="nome-produto-etiqueta">
                {{ produto["nome"] }}
            </div>

            <img
                src="{{ codigo_barras }}"
                alt="Código de barras {{ produto['ean'] }}"
                class="codigo-barras-etiqueta"
            >

            <div class="numero-ean-etiqueta">
                {{ produto["ean"] }}
            </div>

        </section>

        <section class="etiqueta-50x25">

            <div class="nome-produto-etiqueta">
                {{ produto["nome"] }}
            </div>

            <img
                src="{{ codigo_barras }}"
                alt="Código de barras {{ produto['ean'] }}"
                class="codigo-barras-etiqueta"
            >

            <div class="numero-ean-etiqueta">
                {{ produto["ean"] }}
            </div>

        </section>

    </div>

{% endfor %}

        {% endfor %}

    </main>

</body>
</html>
